body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
  background-image: url(images/wavylines.gif);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: calibri;

  color: black;
  font-family: "Soin Sans Pro";
  font-size: 18px;

  padding: 100px 50px;
}

a:link {
  color: white;
  background-color: #c4fff5;
  text-decoration: none;
  font-size: 20px
}

.Contact-Me{
  margin-top: 100px;
  color: white;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.Contact-Me h2{
  font-size: 32px;
  line-hight: 10px;
}
.Contact-Me h3{
  font-size: 16px;
}
form{
  margin-top: 50px;
  transition:all 4s ease-in-out;
}
.form-control{
  width: 600px;
  background: #c4fff5;
  border: none;
  outline: none;
  boder-bottom: 1px solid gray;
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
}
input{
  height: 45px;
}
form .submit{
  background: #cf9eff;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover{
  backgroundcolour: #00AFA4;
  cursor: pointer;
}
